@import url("../fonts/fonts.css");
* {
  margin: 0px auto;
  padding: 0px;
}

.remove-padding {
  padding: 0px;
}

.modal-backdrop.fade.in {
  z-index: 0 !important;
  display: none !important;
}

.modal.fade.in {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}

body.modal-open {
  overflow: hidden;
  padding-right: 0px !important;
  position: fixed;
  height: 100%;
}

header .fusion-row {
  padding: 0px !important;
}

body.modal-open .fusion-header-wrapper {
  z-index: 5 !important;
}