<main class="login">
    <div class="fl-fr-ctnr container">
        <div class="bg-txt-ctnt col-md-7 col-sm-6 hidden-xs">
            <div class="txt-ctnr">
                <h1>GDBase</h1>
                <p>Simulation d’examen</p>
            </div>
        </div>
        <div class="fr-ctnr col-md-5 col-sm-6 col-xs-12">
            <div class="fr-ctnt">
                <div class="fr-header text-center">
                    <p>S'identifier</p>
                    <h5 style="font-weight:300; letter-spacing:1px; font-size:large; margin-top:0px;color:#66574e;">Pour accéder à la
                        <b>simulation gratuite</b>
                    </h5>
                    <hr id="fr-hr">
                </div>
                <div class="fr-body">
                    <form>
                        <div class="container-fluid container-addon">
                            <div class="col-sm-1 remove-padding addon text-center" ng-class="{'addon-danger':incorrectLogin}">
                                <i class="ion-ios-person fa fa-lg"></i>
                            </div>
                            <div class="col-sm-11 remove-padding">
                                <div class="form-group" ng-class="{'has-error':incorrectLogin}">
                                    <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" ng-model="username" ng-change="inputChangeHandler()"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid container-addon">
                            <div class="col-sm-1 remove-padding addon text-center" ng-class="{'addon-danger':incorrectLogin}">
                                <i class="ion-android-lock fa fa-lg"></i>
                            </div>
                            <div class="col-sm-11 remove-padding">
                                <div class="form-group" ng-class="{'has-error':incorrectLogin}">
                                    <input type="password" class="form-control" id="password" placeholder="mot de passe" ng-model="password" ng-change="inputChangeHandler()"
                                        required>
                                </div>
                            </div>
                            <div class="col-sm-12 text-danger text-capitalize" ng-show="incorrectLogin">
                                <small>Nom d'utilisateur ou mot de passe invalide </small>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="fr-ftr">
                            <br ng-show="!incorrectLogin">
                            <br ng-show="!incorrectLogin">
                            <button type="submit" class="btn btn-lg btn-primary submit" ng-click="loginHandler()">S'identifier</button>
                            <p style="margin-top:25px;">
                                <a class="link">Mot de passe oublié?</a>
                                <br>
                                <span class="login-txt">
                                    <a ui-sref="signup">Créer un nouveau compte</a>
                                </span>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>