<main>
    <div class="container-fluid container-cards">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card" ng-class="{'active':userSimData.simulationMetadata.simulation1.paid}">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>
                                <b>Simulation 1</b>
                            </h4>
                            <p style="margin:0px;">
                                Faites une simulation d’examen gratuitement !
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-primary btn-block btn-card" ng-class="{'btn-primary':userSimData.simulationMetadata.simulation1.paid}"
                            ng-click="openSimulation('simulation1')">Gratuite
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card" ng-class="{'active':userSimData.simulationMetadata.simulation2.paid}">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>
                                <b>Simulation 2</b>
                            </h4>
                            <p style="margin:0px;">
                                30 autres questions officielles d’examen
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card" ng-class="{'btn-primary':userSimData.simulationMetadata.simulation2.paid}"
                            ng-click="openSimulation('simulation2')">{{!userSimData.simulationMetadata.simulation2.paid? 'Acheter la simulation 2' : 'Faire la simulation 2'}}
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-locked" ng-hide="userSimData.simulationMetadata.simulation2.paid" ng-click="lockedSims('simulation2')">
                    <i class="ion-android-lock"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card" ng-class="{'active':userSimData.simulationMetadata.simulation3.paid}">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>
                                <b>Simulation 3</b>
                            </h4>
                            <p style="margin:0px;">30 autres questions officielles d’examen</p>

                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card" ng-class="{'btn-primary':userSimData.simulationMetadata.simulation3.paid}"
                            ng-click="openSimulation('simulation3')">{{!userSimData.simulationMetadata.simulation3.paid? 'Acheter la simulation 3' : 'Faire la simulation 3'}}
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="card-locked" ng-hide="userSimData.simulationMetadata.simulation3.paid" ng-click="lockedSims('simulation3')">
                        <i class="ion-android-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card" ng-class="{'active':userSimData.simulationMetadata.simulation4.paid}">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>
                                <b>Simulation 4</b>
                            </h4>
                            <p style="margin:0px;">30 autres questions officielles d’examen</p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card" ng-class="{'btn-primary':userSimData.simulationMetadata.simulation4.paid}"
                            ng-click="openSimulation('simulation4')">{{!userSimData.simulationMetadata.simulation4.paid? 'Acheter la simulation 4' : 'Faire la simulation 4'}}
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="card-locked" ng-hide="userSimData.simulationMetadata.simulation4.paid" ng-click="lockedSims('simulation4')">
                        <i class="ion-android-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card" ng-class="{'active':userSimData.simulationMetadata.simulation5.paid}">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>
                                <b>Simulation 5</b>
                            </h4>
                            <p style="margin:0px;">30 autres questions officielles d’examen</p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card" ng-class="{'btn-primary':userSimData.simulationMetadata.simulation5.paid}"
                            ng-click="openSimulation('simulation5')">{{!userSimData.simulationMetadata.simulation5.paid? 'Acheter la simulation 5' : 'Faire la simulation 5'}}
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-locked" ng-hide="userSimData.simulationMetadata.simulation5.paid" ng-click="lockedSims('simulation5')">
                    <i class="ion-android-lock"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card" ng-class="{'active':userSimData.simulationMetadata.simulation6.paid}">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>
                                <b>Simulation 6</b>
                            </h4>
                            <p style="margin:0px;">30 autres questions officielles d’examen</p>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card" ng-class="{'btn-primary':userSimData.simulationMetadata.simulation6.paid}"
                            ng-click="openSimulation('simulation6')">{{!userSimData.simulationMetadata.simulation6.paid? 'Acheter la simulation 6' : 'Faire la simulation 6'}}
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-locked" ng-hide="userSimData.simulationMetadata.simulation6.paid" ng-click="lockedSims('simulation6')">
                    <i class="ion-android-lock"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- products list -->

    <div class="modal fade" id="products" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{selectedItem.title}}</h4>
                </div>
                <hr class="hr-text1">
                <div class="modal-body text-center">
                    <p>Ceci a bien ètè ajoutè au panier</p>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default btn-block btn-lg" ng-click="continueShopping(selectedItem)"><i
                                    class="fa fa-lg fa-shopping-cart"></i> Continuer les achats</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-block" ng-click="goToCheckout(selectedItem)"><i
                                    class="fa fa-lg fa-paypal"></i> Payer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>