<main>
    <div class="container-fluid container-cards">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card active">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>Simulation 1 Faites une simulation d’examen gratuitement !</h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-primary btn-block btn-card">Gratuite
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>Simulation 2 30 autres questions officielles d’examen
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card">Faire la simulation 2
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-locked">
                    <i class="ion-android-lock"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>Simulation 3 30 autres questions officielles d’examen
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card">Faire la simulation 3
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="card-locked">
                        <i class="ion-android-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>Simulation 4 30 autres questions officielles d’examen
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card">Faire la simulation 4
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="card-locked">
                        <i class="ion-android-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>Simulation 5 30 autres questions officielles d’examen
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card">Faire la simulation 5
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-locked">
                    <i class="ion-android-lock"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="text-center card-title">
                            <h4>Simulation 6 30 autres questions officielles d’examen
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-default btn-block btn-card">Faire la simulation 6
                            <i class="icon ion-ios-arrow-forward pull-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="card-locked">
                    <i class="ion-android-lock"></i>
                </div>
            </div>
        </div>
    </div>
</main>